* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekanwebmedium;
  /* transition:var(--trans03) */
  scroll-behavior: smooth;
}
:root {
  --bgColor-panel: #ff5722;
  --text-color: rgb(136, 136, 136);
  --trans02: all 0.2s ease-in-out;
  --trans03: all 0.3s ease-in-out;
}
body {
  background-image: url("/Img/sighIn-LohIn-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--trans02);
}
main .sign-login-section {
  width: 390px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: var(--trans02);
  padding: 30px 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(25, 32, 39, 0.09);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: var(--trans02);
  transform: translate(-50%, -50%);
  /* display: none; */
  /* margin: auto; */
}
main .sign-login-section.show {
  animation: showdown 0.8s ease forwards;
}
@keyframes showdown {
  0% {
    transform: translateY(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%, -50%);
    opacity: 1;
  }
}
main .sign-login-section .logo-tapSi {
  width: 70%;
  height: 100px;
  margin: 10px auto;
  padding: 8px;
}
main .sign-login-section .logo-tapSi img {
  width: 100%;
  height: 100%;
}
main .sign-login-section #login-form {
  height: 270px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: #ff5722; */
}
main .sign-login-section #login-form .name-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  width: 100%;
  /* background-color: #ff5722; */
  border-bottom: 2px solid rgb(221, 220, 220);
  padding: 10px 0;
}
main .sign-login-section #login-form .name-part label {
  margin: 10px 0;
  color: #666;
  font-size: 15px;
}
main .sign-login-section #login-form .name-part input {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  height: 35px;
  padding: 5px 10px;
  border-radius: 6px;
}
main .sign-login-section #login-form .password-part,
.repeat-password-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  width: 100%;
  /* background-color: #ff5722; */
  margin-bottom: 60px;
  padding: 5px 0;
}
main .sign-login-section #login-form .password-part,
.repeat-password-part label {
  margin: 10px 0;
  color: #666;
  font-size: 15px;
}
main .sign-login-section #login-form .password-part input {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  height: 35px;
  border-radius: 6px;
  padding: 5px 10px;
  accent-color: #fff;
}
main .sign-login-section #login-form .repeat-password-part input {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  height: 35px;
  border-radius: 6px;
  padding: 5px 10px;
  accent-color: #fff;
}
main .sign-login-section #login-form .forgot-password {
  text-align: right;
  margin: 0px 0;
}
main .sign-login-section #login-form .forgot-password a {
  color: #ff5722;
  font-size: 13px;
  text-decoration: none;
}
main .sign-login-section .dont-sighUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .sign-login-section .dont-sighUp .login-btn {
  width: 80%;
  padding: 8px 10px;
  height: 38px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  font-size: 18px;
  margin: 10px 0;
  transition: var(--trans03);
}
main .sign-login-section .dont-sighUp .login-btn:hover {
  background-color: #f57c58;
}
main .sign-login-section .dont-sighUp span {
  font-size: 14px;
  color: #666;
}
main .sign-login-section .dont-sighUp span .signUp-link {
  text-decoration: none;
  color: #ff5722;
  margin: 0 2px;
  font-size: 16px;
  font-weight: bold;
}
main .sign-login-section .error-text-name,
.error-text-password,
.error-text-repeat-password {
  color: #666;
  font-size: 12px;
  padding: 5px;
}
.error-box {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: rgba(88, 88, 88, 0.125);
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
  transform: translateY(-200%);
  opacity: 0;
  transition: all 0.2s ease;
}
.error-box.show {
  animation: showDown 0.3s ease forwards;
}
@keyframes showDown {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.error-box .icon {
  width: 30px;
  height: 30px;
  background-color: #ff5722;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  text-align: center;
  margin: auto;
}
.error-box i {
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.error-box span {
  font-size: 14px;
  color: #666;
  margin: 0 5px;
}
main .signUp-section {
  width: 700px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: var(--trans02);
  padding: 30px 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(25, 32, 39, 0.09);
  border-radius: 12px;
  transform: translateY(-150%);
}
main .signUp-section.show {
  animation: showDown 1.4s ease-in-out forwards;
}
@keyframes showDown {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
main .signUp-section .inf-signUp {
  display: flex;
  width: 95%;
  height: 10%;
  margin: 5px auto;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(207, 207, 207);
  padding: 15px 5px;
}
main .signUp-section .inf-signUp .logIn-form {
  font-size: 13px;
  color: #666;
}
main .signUp-section .inf-signUp .logIn-form a {
  color: #ff5722;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
}
main .signUp-section .userInformation-signUp {
  width: 95%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  flex-wrap: wrap;
}
main .signUp-section .userInformation-signUp .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
}
main .signUp-section .userInformation-signUp .box label {
  margin: 10px 0;
  color: #333;
  font-size: 15px;
}
main .signUp-section .userInformation-signUp .box input {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  height: 40px;
  border-radius: 6px;
  padding: 5px 10px;
  accent-color: #fff;
  font-size: 13px;
}
main .signUp-section .Confirmation-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 10px auto;
}
main .signUp-section .Confirmation-part .Confirmation-laws span {
  font-size: 13px;
  color: #444;
}
main .signUp-section .Confirmation-part .Confirmation-laws a {
  color: #ff5722;
  text-decoration: none;
}
main .signUp-section .Confirmation-part .confirm-continue {
  text-decoration: none;
  padding: 10px 20px;
  height: 38px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  background-color: #b2afaf;
  color: #fff;
  font-size: 16px;
  margin: 0px 0;
  transition: var(--trans03);
  cursor: not-allowed;
}
main .forgot-password-section {
  width: 390px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: var(--trans02);
  padding: 30px 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(25, 32, 39, 0.09);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: var(--trans02);
  transform: translate(-50%, -50%);
  opacity:0;
}
main .forgot-password-section.show{
  animation: showdownEmail 0.8s ease forwards;
}
@keyframes showdownEmail {
  0% {
    /* transform: translateY(-50%, -200%); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(-50%, -50%); */
    opacity: 1;
  }
}
main .forgot-password-section .logo {
  width: 80%;
  height: 100px;
  margin: 10px auto;
  border-bottom: 2px solid rgb(207, 207, 207);
  padding: 8px;
}
main .forgot-password-section .logo img {
  width: 100%;
  height: 100%;
}
main .forgot-password-section .send-email-part {
  height: 80%;
  width: 94%;
  margin: 10px auto;
}
main .forgot-password-section .send-email-part p {
  color: #555;
  font-size: 13px;
  margin: 20px auto;
  /* margin-bottom: 60px; */
}
main .forgot-password-section .send-email-part .email-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main .forgot-password-section .send-email-part .email-box label {
  font-size: 16px;
  color: #333;
  margin: 10px 5px;
}
main .forgot-password-section .send-email-part .email-box input {
  border: none;
  outline: none;
  background-color: #e8e8e8;
  height: 45px;
  border-radius: 6px;
  padding: 5px 10px;
  accent-color: #fff;
  font-size: 13px;
}
main .forgot-password-section .send-email-btn {
  text-decoration: none;
  padding: 10px 20px;
  height: 38px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  border-radius: 5px;
  background-color: #ff5722;
  color: #fff;
  font-size: 16px;
  margin: 0px 0;
  transition: var(--trans03);
  width:80%;
}
main .forgot-password-section .send-email-btn a{
  text-decoration: none;
  color: #fff
}
